.centertopic
{
    margin-left: 60px;
}

.borrowbookbtn
{
    float:right;
    margin-right:50px;
    padding:9px;
    background-color:transparent;
    border:1px solid black;
    border-radius:20px;
    font-weight: 600;
}

.borrowbookbtn:hover
{
    background-color: rgb(204, 204, 204);
}
