.centertopic
{
    margin-left: 160px;
}

.borrowbookbtn
{
    float:right;
    margin-right:50px;
    padding:9px;
    background-color:transparent;
    border:1px solid black;
    border-radius:20px;
    font-weight: 600;
}

.borrowbookbtn:hover
{
    background-color: rgb(204, 204, 204);
}

.Filterbtn
{
    padding:5px 10px 5px 10px;
    background:#fff;
    border-radius:5px;
    margin-right:10px;
    margin-left:10px;
}

.Filterbtn:hover
{
    background-color: rgb(204, 204, 204);
}

.filterdrop
{
    padding:5px;
    margin-right:10px;
}